html,body,#container {
  height:100%;
  padding:0;
  margin:0;
}

#container {
  height: 100%;
  background-image: url('./images/space.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#configPanel {
  height: 500px;
  width: 300px;
  background-color: grey;
  position: relative;
}